# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Dependencies
node_modules/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
android/app/release.keystore

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
vendor/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
.env
.env*.local

# Local tool config
.claude/

# IDE
.idea/
